* {
    border: none;
    border-radius: 0px;
    font-family: Roboto Mono SemiBold, Iosevka Nerd Font;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(48, 45, 65, 0.3);
    color: #FFFFFF;
}

#clock,
#pulseaudio,
#network,
#custom-logo,
#cpu,
#memory,
#disk,
#temperature {
    background-color: #7648AF;
    color: #c5e6aa;
    border-radius: 10px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#workspaces button {
    color: white;
}

#tray {
    background: #7648AF;
    margin: 2px;
    border-radius: 10px;
    padding: 0px 12px;
}

#clock {
    color: #FFFFFF;
    background-color: #7648AF;
    border-radius: 12px 12px 12px 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#network {
    background-color: #7648AF;
    color: #e3b9dc;
    border-radius: 10px;
}

#pulseaudio {
    color: #a4cdff;
    background: #7648AF;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-logo {
    color: #FFFFFF;
    background-color: #7648AF;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 20px;
}

#window {
    background: #7648AF;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    background-color: #7648AF;
    color: #ffc8cd;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #7648AF;
    color: #b9e9f7;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #7648AF;
    color: #ffd9cd;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#temperature {
    background-color: #7648AF;
    color: #ffe7b7;
}

#temperature.critical {
    background-color: #dbffbc;
    color: #282738;
    border-radius: 10px;
}
