* {
    border: none;
    border-radius: 0px;
    font-family: Roboto Mono SemiBold, Iosevka Nerd Font;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: rgba(76,86,106,0.8);
    color: #cdd6f4
}

#clock,
#pulseaudio,
#network,
#custom-logo,
#cpu,
#memory,
#disk,
#temperature {
    background-color: #2e3440;
    color: #a3be8c;
    border-radius: 10px;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#workspaces button {
    color: white;
}

#tray {
    background: #2e3440;
    margin: 2px;
    border-radius: 10px;
    padding: 0px 12px;
}

#clock {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 12px 12px 12px 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#network {
    background-color: #2e3440;
    color: #B48EAD;
    border-radius: 10px;
}

#pulseaudio {
    color: #5e81ac;
    background: #2e3440;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#custom-logo {
    color: #cdd6f4;
    background-color: #2e3440;
    border-radius: 0px 24px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    font-size: 20px;
}

#window {
    background: #2e3440;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

#cpu {
    background-color: #2e3440;
    color: #bf616a;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    background-color: #2e3440;
    color: #88c0d0;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#disk {
    background-color: #2e3440;
    color: #d08770;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#temperature {
    background-color: #2e3440;
    color: #ebcb8b;
}

#temperature.critical {
    background-color: #a3be8c;
    color: #282738;
    border-radius: 10px;
}
