* {
    font-family: FontAwesome, FuraMono Nerd Font Mono, monospace, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0px;
}

window#waybar {
    background-color: transparent;
}

window > box {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #120026;
    border-radius: 7px;
    color: #ffffff;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-left: 4px;
}

#workspaces button, button {
    box-shadow: inset 0 -3px transparent;

    border: none;
    border-radius: 0;
    border-bottom: 3px solid #520092;

    margin-left: 3px;
    margin-right: 3px;
    padding: 0 5px;
    background-color: rgb(60, 0, 124);
    color: #ffffff;
}

#workspaces button:hover, button:hover {
    background: rgb(104, 22, 168);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: #7e23c4;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#cpu,
#memory,
#temperature,
#backlight,
#custom-network,
#tray,
#idle_inhibitor {
    padding: 0 10px;
    color: #ffffff;
}

#window {
    margin: 0 4px;
}

#clock {
    background-color: #7921d8;
    border-bottom: 3px solid #9c56e6;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #a96ee9;
    color: #000000;
    border-bottom: 3px solid #ceadf3;
}

#memory {
    background-color: #7720d4;
    border-bottom: 3px solid #8a39e1;
}

#backlight {
    background-color: #af78eb;
    border-bottom: 3px solid #d4b6f4;
}

#custom-network {
    background-color: #b785ed;
    color: #000000;
    border-bottom: 3px solid #dac0f6;
}

#temperature {
    background-color: #a86be9;
    border-bottom: 3px solid #caa4f1;
}

#temperature.critical {
    background-color: #eb4d4b;
    border-bottom: 3px solid #f2C52d;
}

#tray {
    background-color: #7a21d9;
    border-bottom: 3px solid #520092;
    margin-right: 7px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #4f158d;
    border-bottom: 3px solid #671cb7;
}

#idle_inhibitor.activated {
    background-color: #e0cbf7;
    border-bottom: 3px solid #ffffff;
    color: #2d3436;
}
